* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;
}

h1 {
  color: white;
  background-color: black;
  text-align: center;
}

body {
  background: linear-gradient(#4e54c8, #8f94fb);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.fundo-calc {
  background-color: white;
  border-radius: 10px;
  width: 450px;
  height: 450px;
}

.tela-result {
  font-size: 90px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  color: white;
  background-color: #222222;
  text-align: right;
  padding-right: 20px;
  width: 100%;
}

.container-operac {
  display: flex;
}

.operac {
  background-color: #999;
  font-size: 30px;
  color: black;
  height: 70px;
  width: 25%;
}

.c-result {
  display: flex;
  justify-content: flex-end;
}

.result {
  position: relative;
  font-size: 30px;
  top: -280px;
  width: 24.9%;
  height: 280px;
  background-image: linear-gradient(to bottom, #fe886a, #ff7033);
}

.c-center {
  display: flex;
  flex-wrap: wrap;
}

.btn-center {
  font-size: 30px;
  background-color: #eee;
  height: 70px;
  width: 25.1%;
}

button:active {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
}

button {
  border-style: none;
}

.radius0 {
  border-bottom-left-radius: 10px;
}

.radius1 {
  border-bottom-right-radius: 10px;
}
