html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: linear-gradient(#4e54c8, #8f94fb);
  display: flex;
  justify-content: center;
  height: 100vh;
}

.fundo-login {
  position: absolute;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  top: 30%;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: #4e54c8;
  border-radius: 15px;
  width: 480px;
  height: 420px;
  padding: 20px;
}

.login-titulo {
  text-align: center;
  margin-top: 30px;
  font-size: 40px;
  color: white;
}

.container-form input {
  font-size: 16px;
  color: white;
  width: 90%;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
  margin-top: 45px;
  margin-left: 20px;
}

.container-form label {
  font-size: 16px;
  color: white;
  position: relative;
  top: -50px;
  left: 40px;
  transition: 0.5s;
}

.container-form input:hover + label,
.container-form input:focus + label {
  font-size: 20px;
  color: red;
  top: -55px;
}

.base {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.login {
  font-size: 16px;
  color: white;
  letter-spacing: 5px;
  text-align: center;
}

button {
  background-color: black;
  width: 120px;
  height: 40px;
  transition: 150ms;
  position: relative;
  left: 65px;
  top: 20px;
}

button:hover {
  background-color: white;
  color: red;
  transition: 150ms;
}

.forget {
  font-size: 16px;
  color: white;
  position: relative;
  top: 80px;
  right: 60px;
  cursor: pointer;
  transition: 150ms;
}

.forget:hover {
  color: red;
}
